body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: scroll 100s linear infinite;
    overflow-x: auto;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *9));
    }
}

.slide1 {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide1 img {
    width: 100%;
}

.slide1 a:hover {
    transform: translateZ(20px);
}

.slide1::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slides {
    display: none;
}

#carouselExampleControls {
    padding: 50px 0px;
}

.carousel-control-prev,
.carousel-control-next {
    color: white;
    /* Màu chữ của nút */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: red;
    /* Màu sắc của nút */
}

.carousel-item img {
    max-width: 60%;
    height: auto;
    margin: auto;
}